@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GLOBAL */

:root {
  --primary-color: #3f8aac;
}

body {
  background-color: rgb(101, 118, 130);
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: rgb(41, 41, 41);
  color: #fff;
  padding: 2rem;
  font-size: 1.5rem;
}

header i {
  color: var(--primary-color);
  margin-right: 1rem;
}
